IYZICO_BASE_URL=https://sandbox-api.iyzipay.com
IYZICO_API_KEY=your-sandbox-api-key
IYZICO_SECRET_KEY=your-sandbox-secret-key

IYZICO_TEST_CARD_HOLDER_NAME=John Doe
IYZICO_TEST_CARD_NUMBER=5528790000000008
IYZICO_TEST_CARD_EXPIRE_MONTH=12
IYZICO_TEST_CARD_EXPIRE_YEAR=2030
IYZICO_TEST_CARD_CVC=123
